h1 {
    text-shadow: 2px 2px 2px cornflowerblue;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 50px;

    background-color: slategray;
}

#p1 {
    color: black;
}
body {
    text-align: center;

    background-color: lightblue;
}