h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: green;
}

p{
    text-align: center;
    color: black;
    background: whitesmoke;
}

.jumbotron {
    background-image: url(spices.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body {
    background-color: whitesmoke;
}

p {
    text-align: right;
}